//медиазапросы
@mixin atDesktopS {
  @media screen and (max-width: 1439px) {
    @content;
  }
}

@mixin atTablet {
  @media screen and (max-width: 1092px) {
    @content;
  }
}

@mixin atMobileL {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin atMobile {
  @media screen and (max-width: 400px) {
    @content;
  }
}

//шрифты
@mixin Roboto400 {
  font-family: Roboto, 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin Roboto500 {
  font-family: Roboto, 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
}
