// цвета
$btn-default: #1A45DB;
$btn-hover: #173DC2;
$btn-active: #1435A8;

$text-header: #3D3D3D;
$text-default: #525252;
$text-hover: #4A6EED;

$price-color: #141414;
$price-discount: #FF0D55;
$price-old: #8F8F8F;


$header-color: #3D3D3D;
