@import 'scss-styles/styles';
@import 'vendor/normalize.css';

.page {
  max-width: 1440px;
  min-width: 360px;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
